#popUp {
    display: grid;
    height: 30vh;
    width: 50vh;
    font-family: 'Montserrat', sans-serif;
    color : white ;
    position: fixed;
    width: 30%;
    height: 40%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color:black;
    opacity: 0.95;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

input {
    display: grid;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: none;
    align-self: center ;
    margin-right: 10%;
    margin-bottom: 5%;
    border-bottom: 2px solid rgb(104, 106, 109);
}


.name, .surName, .country {
    color : white ;
}


.inputField {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 2%;
    align-self: center ;

}

.updateBtn {

    display: grid;
    width: 50%;
    height: 45%;
    margin-top: 15px;
    margin-bottom: 2%;
    color: black ;
    justify-self: center;
    justify-content: center ;
    align-content: center;
    align-self: center ; 
    background-color: #f9ca24;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px 10px 10px 10px;

}