#navBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    background-color: rgb(75, 90, 231);
    padding: 1.5%;
    justify-items: center;
}

#navBar>a {
    /* margin-left: 50%; */
    text-decoration: none;
    color: #f9ca24;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}