.card{
    width: 300px;
}
.card .card-image .card-title{
    color: black;
    font-weight: 550 ;
}

.card-image > img {
    height: 300px ;
    width: 300px;
}

.material-icons{
    font-size: 2.4em;
    cursor: pointer;
    font-weight: bolder;
}