#App {


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#addBtn {
  display: grid;
  width: 200px;
  height: 30px;
  margin-top: 15px;
  justify-content: center;
  align-content: center;
  background-color: #f9ca24;
  font-size: 12px;
  font-weight: 600;
}

#carousel {
  /* height: 10%; */
  width: 40% ;
}

.item {
  height: 250px;
  /* width: 60% ; */
}

.slick-slider {
  width : 60%;
}
